.filter {
    background-color: var(--bgElementColor);
    border-radius: var(--borderRadius);
    min-width: max-content;
    max-width: 50%;
    padding: 1.5rem;
    box-shadow: var(--boxShadow);
    color: var(--placeholder);
}