.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bgElementColor);
    border-radius: var(--borderRadius);
    margin: 1rem;
    box-shadow: 0 0 5px 10px var(--boxShadow);
    max-width: max-content;
    min-width: 18rem;
}

.card .flag {
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
    object-fit: cover;
    box-shadow: var(--boxShadow);
}

.card .text {
    padding: 1rem;
}

.card h3 {
    margin-bottom: 1rem;
}

.card p {
    line-height: 1.8;
}