/* Reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --colorNeutral100: hsl(200, 15%, 8%);
    --colorNeutral150: hsl(207, 26%, 16%);
    --colorNeutral200: hsl(207, 26%, 17%);
    --colorNeutral300: hsl(209, 23%, 22%);
    --colorNeutral500: hsl(0, 0%, 52%);
    --colorNeutral700: hsl(0, 0%, 96%);
    --colorNeutral800: hsl(0, 0%, 98%);
    --colorNeutral900: hsl(0, 0%, 100%);

    --bgColor: var(--colorNeutral800);
    --bgElementColor: var(--colorNeutral900);
    --textColor: var(--colorNeutral100);
    --placeholder: var(--colorNeutral500);

    --fontSizeSmall: 14px;
    --fontSizeMedium: 16px;

    --fontWeightLight: 300;
    --fontWeightMedium: 600;
    --fontWeightHeavy: 800;

    --boxShadow: 0 3px 10px 5px var(--colorNeutral700);
    --borderRadius: 0.5rem;
}

@media (prefers-color-scheme: dark) {

  :root {
    --bgColor: var(--colorNeutral200);
    --bgElementColor: var(--colorNeutral300);
    --textColor: var(--colorNeutral900);
    --placeholder: var(--colorNeutral700);
    --boxShadow: 0 3px 10px 5px var(--colorNeutral150);
  }
  
}


.themeSwitcher {
    --bgColor: var(--colorNeutral200);
    --bgElementColor: var(--colorNeutral300);
    --textColor: var(--colorNeutral900);
    --placeholder: var(--colorNeutral700);
    --boxShadow: 0 3px 10px 5px var(--colorNeutral150);
}






@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
    font-weight: var(--fontWeightMedium);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fontSizeSmall);
    color: var(--textColor);
}



h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1rem; font-weight: var(--fontWeightHeavy); }
p, span { font-weight: var(--fontWeightLight); }
img, picture, video, canvas, svg {
    max-width: 100%;
}

input, button, textarea, select {
    /* font: inherit; */
    border: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button, a {
    border: none;
    background-color: inherit;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  background-color: var(--bgElementColor);
}

.align-bottom {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.5rem;
}