.search {
    background-color: var(--bgElementColor);
    padding: 1.5rem;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    color: var(--textColor);
}

.search::placeholder {
    color: var(--placeholder);
    opacity: 1;
    font-weight: var(--fontWeightLight);
}